<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="pingJobsSection">
      <section name="pingJobs" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <appSettings>
    <!--Provide full path of the sound file to be played as the alarm-->
    <add key="alarmFile" value=".\warning.mp3" />
    <!--Specify how frequently should the monitoring be done (in seconds)-->
    <add key="monitoringFrequency" value="2" />
    <!--Timeout for ping operations (in milliseconds)-->
    <add key="pingTimeout" value="5000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--The following section is used to list out the ping jobs that should be executed-->
  <pingJobsSection>
    <pingJobs>
      <!--Add each job as a key-value pair.-->
      <!--key = A name for the ping job. Please note that this name should be unique-->
      <!--value= IP of the ping job-->
      <add key="MFG_HUDSON_CI " value="72.251.248.19" />
      <add key="SVN" value="72.251.248.18" />
      <add key="FOQA" value="72.251.248.21" />
      <add key="BOQA" value="72.251.248.22" />
    </pingJobs>
  </pingJobsSection>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=" log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>